{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
      <h1 class="display-3">І знову привіт!</h1>
      <p class="lead">Якийсь текст про проект та його призначення. З певним фото можливо.</p>
      <hr class="my-4">
      <p>Ми постійно працюємо над вдосконаленням сайту, тому вже можемо анонсувати нову версію, яка вийде 15.02.2018 р.</p>
      <p>Якщо ви готові допомогти молодому проектові, нажміть кнопку нижче і на вашу електронну адресу прийде додаткова інформація.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button" onclick="">Підтримайте нас</a>
        </p>
    </div>
{% endblock %}