{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">І знову привіт!</h1>
        <p class="lead">Наш молодий проект має назву Neosearch. Назва складається з двох частин: neo - новий, та search - пошук. Саме цьому і присвячена головна ідея - пошук нового (в нашому випадку - нових слів, або неологізмів). Для незареєстрованих користувачів доступна можливість пошуку неологізмів в тексті, розміром не більше 200 символів. Пошук проводиться із застосуванням сучасних академічних словників української мови.</p>
        <p class="lead">Натомість, зареєстровані користувачі мають розширені можливості:</p>
        <p class="lead">1. Завантажувати текстові файли, розміром до 10 Мб, в яких потрібно провести пошук.</p>
        <p class="lead">2. В особистому кабінеті користувачі можуть проводити пошук в тексті, розміром не більше 1000 символів, а також бачити всі попередні результати пошуків.</p>
        <p class="lead">3. Підписатися на інформування про оновлення та можливості нашого проекту.</p>
        <p class="lead">Команда розробників щиро вітає усіх, хто скористається нашою розробкою. Ми впевнені, що з часом, можливості та функціонал розширириться і проект буде цікавим як звичайним відвідувачам, так і фаховим науковцям.</p>

        <hr class="my-4">

        <p>Ми постійно працюємо над вдосконаленням сайту, тому вже можемо анонсувати нову версію, яка вийде 15.02.2018 р.</p>
        <p>Якщо ви готові допомогти молодому проектові, напишіть нашій службі підтримки і ви отримаєте детальнішу інформацію.</p>
        <p>Електронна адреса нашої служби підтрмки - neosearch@gmail.com.</p>
    </div>
{% endblock %}