<!DOCTYPE html>
<html>
  <head>
      <title>NeoSearch</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body style="margin:0 150px 0 150px">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">NeoSearch</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Головна <span class="sr-only">(зараз)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('cabinet', username=current_user.username) }}">Особистий кабінет</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Про нас</a>
          </li>
        </ul>
        <form>
            {% if current_user.is_anonymous %}
            <input type="button" value="Увійти" onclick='location.href="/login"'>
            {% else %}
            <input type="button" value="Вийти" onclick='location.href="/logout"'>
            {% endif %}
        </form>
      </div>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <hr>

    {% block content %}{% endblock %}

    <br>
    <hr>
    <br>

    <footer class="footer" role="contentinfo">
       <div class="wrapper">
           <div class="left">
               <p align="center">© 2018. Усі права захищено.</p>
           </div>
           <div class="clearfix"></div>
       </div>
    </footer>
  </body>
</html>