{% extends "base.html" %}

{% block content %}
    <blockquote class="blockquote text-center">
      <p class="mb-0">Новотвір або неологізм (від грец. νέος — молодий, новий і λογισμός — судження, вислів) — новостворений термін, авторське слово або фраза, що перебуває в процесі входження в загальне використання і ще не включена до державної та загальновживаної мови.</p>
      <footer class="blockquote-footer">джерело: <cite title="Source Title">СУЛМ. Лексика і фразеологія. К., 1973; СУЛМ. Стилістика. К., 1973; Новые слова и словари новых слов. Ленинград, 1983</cite></footer>
    </blockquote>

    <hr>

    <form action="{{ url_for('search') }}" method="post" style="margin:0 20px 0 20px">
        <div style="width: 100%; text-align:center">
            <textarea id="source" name="text" maxlength="200" tabindex="0" cols="90" dir="ltr" class="goog-textarea short_text" style="box-sizing: border-box; overflow-y: hidden; overflow-x: auto; height: 200px; padding-right: 10px"></textarea>
            <textarea id="source-is" name="text-is" disabled="" cols="90" dir="ltr" class="goog-textarea short_text" style="overflow-y: hidden; overflow-x: auto; box-sizing: border-box; padding-bottom: 32px; height: 200px; padding-right: 10px">{{ result }}</textarea>
        </div>
        <div id="gt-lang-submit" style="text-align:center">
            <input type="submit" id="gt-submit" value="Пошук" tabindex="0" class="jfk-button jfk-button-action">
        </div>
    </form>

    <br>
    <hr>
    <br>

    <div class="jumbotron">
      <h1 class="display-3">Привіт, друже!</h1>
      <p class="lead">Хочемо розповісти про цей проект, щоб було повне розуміння того, які можливості у тебе є. Цей проект допомагає знаходити новотвори в заданому тексті. Для пошуку використовуються академічні словники української мови. Проект буде цікавим як звичайним відвідувачам, так і науковцям-філологам.</p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/about" role="button" onclick="">Дізнатися більше</a>
      </p>
    </div>

    <br>
    <hr>
    <br>

    <form>
      <fieldset>
        <legend>Реєстрація</legend>
        <div class="form-group">
          <label for="exampleTextarea">Ім'я користувача</label>
          <input type="email" class="form-control" id="exampleTextarea" aria-describedby="emailHelp" placeholder="Введіть ім'я">
          <small id="emailHelp" class="form-text text-muted">Ми ніколи не надаємо ваші дані кому-небудь.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email адреса</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введіть email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Пароль</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
        </div>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/registration" role="button" onclick="">Зареєструватися</a>
        </p>
      </fieldset>
    </form>
{% endblock %}