{% extends "base.html" %}

{% block content %}
    <h1 align="center" style="margin:0 20px 0 20px">Реєстрація</h1>
    <form action="" method="post" style="margin:0 20px 0 20px">
        {{ form.hidden_tag() }}
        <p align="center">
            {{ form.username.label }}<br>
            {{ form.username(size=40) }}<br>
            <small id="emailHelp" class="form-text text-muted">Ми ніколи не надаємо ваші дані кому-небудь.</small>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">
            {{ form.email.label }}<br>
            {{ form.email(size=40) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">
            {{ form.password.label }}<br>
            {{ form.password(size=40) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">
            {{ form.password2.label }}<br>
            {{ form.password2(size=40) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="lead" align="center">
            <a class="btn btn-primary btn-lg" role="button" onclick="">{{ form.submit() }}</a>
        </p>
    </form>
{% endblock %}